html {
    font-size: 100%;
    height: 100%;
}

body {
    font-family: "Vollkorn", serif;
    margin: 0;
    padding: 0;
    background-color: black;
    font-size: 18px;
    line-height: 28px;
}

.mobile-only {
    display: none;
}

/* Organizational */

.container {
    min-height: 100%;
    position: relative;
    background-color: white;
    background-image: url(../background.jpg);
    background-position: fixed;
    background-size: 100%;
}

main {
    min-height: calc(100vh - 6em);
    padding: 2em 0 4em 0;
    width: 100%;
}

main:after {
    content: "";
    width: 100%;
    display: table;
    clear: both;
}

.single-column {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

section {
    margin: 8em 0;
}

article section {
    margin: 3em 0;
}

/* Header */

#splash {
    height: 98vh;
    top: 0;
    background-image: url(../splash.jpg);
    background-position: center;
    background-size: 50%;
}

header {
    z-index: 500;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    background-color: black;
    position: sticky;
    top: 0;
    width: 100%;
    height: 3em;
    font-family: "Readex Pro", sans-serif;
}

#title, #title a {
    font-size: 20px;
    letter-spacing: .375rem;
    margin-left: 0.5em;
    text-decoration: none;
    color: rgb(155, 155, 255);
}

/* Nav */

nav {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    margin-right: 1em;
}

nav a {
    text-decoration: none;
    padding-bottom: 6px;
    height: 1rem;
    margin: 0.8em;
    color: white;
}

nav a:hover, nav a:active, nav a:focus {
    color: white !important;
    border-bottom: .3rem solid rgb(155, 155, 255);
}

.current {
    border-bottom: .3rem solid rgb(90, 90, 190);
}

/* Headings */

h2 {
    font-family: "Readex Pro", sans-serif;
    color: black;
    line-height: 1em;
    letter-spacing: 1px;
    font-size: 30px;
    margin-top: 2rem;
}

h3 {
    font-size: 20px;
    color: black;
    font-weight: 700;
    margin: 0.5rem 0 1rem 0;
    word-wrap: break-word;
}

/* Links */

a {
    color: rgb(90, 90, 190);
    font-size: 1em;
}

a:hover, a:active, a:focus {
   color: rgb(155, 155, 255) !important;
}

/* Images */

figure {
    display: block;
    position: relative;
    z-index: 100;
    width: 100%;
    text-align: center;
    margin: 0;
}

figure img, article img {
    display: block;
    position: relative;
    z-index: 100;
    width: 100%;
}

article img {
    margin: 4em 0;
}

/* Gallery/deck */

.dark, .dark h2 {
    background-color: black;
    color: white;
}

.column h2 {
    padding: 4em 0;
    margin: 0;
    text-align: center;
}

.column {
    width: 33.333%;
    float: left;
}

.deck {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2em 0;
}

.deck h3 {
    margin: 0.5rem auto;
    text-align: center;
}

.deck img, .column img {
    width: 100%;
    object-fit: cover;
    display: flex;
    flex-direction: row;
}

.deck a {
    text-decoration: none;
}

article .deck img {
    width: 50%;
    margin: 2em 0;
}

.card img {
    height: 15vw;
}

.card {
    width: 33.333%;
    margin: 1em 0;
}

.card:hover, .card:active, .card:focus {
    filter: brightness(110%);
    background-color: rgb(155, 155, 255);
}

.two-column {
    display: flex;
    justify-content: space-between;
}

.two-column a {
    width: 48%;
}

/* Skills */

.skills {
    color: rgb(90, 90, 190);
    font-weight: 800;
}

/* Misc */

blockquote {
    text-align: left;
    font-style: italic;
}

button {
    width: 100%;
    padding: 1em;
    font-size: 16px;
    font-family: "Readex Pro", sans-serif;
    background-color:rgb(90, 90, 190);
    color: white;
    border: none;
    cursor: pointer;
}

/* Footer */

footer {
    position: absolute;
    margin: 0;
    bottom: 0;
    width: 100%;
    height: 4em;
    background-color: rgb(0, 0, 0);
    text-align: right;
    z-index: 500;
    display: flex;
    justify-content: space-between;
}

footer img {
    width: 1.75em !important;
    margin: 1em 1em 0 0;
}

footer div {
    display: flex;
    justify-content: center;
}

footer a {
    text-decoration: none !important;
}

footer a:active, footer a:hover, footer a:focus {
    opacity: 0.6;
}

footer p {
    font-family: "Readex Pro", sans-serif;
    font-size: 12px;
    text-align: left;
    margin: auto 2em;
    color: rgb(155, 155, 255);
}

/* Mobile */

@media only screen and (max-width: 700px) {
    body {
        max-width: 700px;
        font-size: 16px;
    }

    #splash {
        background-size: 80%;
        height: 70vh;
    }

    header  {
        height: 4em;
        font-size: 16px;
        justify-content: space-between;
    }

    .container {
        background-image: none;
    }
  
    nav {
        display: none;
    }

    main {
        padding-top: 1.5em;
        padding-bottom: 8em;
    }

    .single-column {  
        width: 85%;
    }

    #title a, #title {
        font-size: 20px;
        margin: 0.8em;
    }

    .column {
        width: 75% !important;
        height: auto;
        margin: 0 auto;
        float: none;
    }
    .card img {
        height: 40vw;
    }

    .card {
        width: 50%;
        margin: 1em 0;
    }
    
    h3 {
        font-size: 20px;
    }

    footer {
        flex-direction: column;
        height: 8em;
    }

    footer p {
        text-align: center;
        line-height: 16px;
    }

    .mobile-only {
        display: block !important;
        text-align: center;
        margin: 1em 2em;
        color:white;
        text-decoration: none;
        font-weight: 400;
    }
}

/*add javascript style gallery so images don't take so long to load*/