@import url('https://fonts.googleapis.com/css2?family=Vollkorn&family=ZCOOL+QingKe+HuangYou&family=Roboto:wght@400;700&display=swap');

html {
    font-size: 100%;
    height: 100%;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 28px;
    background-color:rgb(165, 165, 255);
}

.mobile-only {
    display: none;
}

p {
    padding-top: .5em;
    padding-bottom: .5em;
}

/* Organizational */

.wrapper-container {
    min-height: 100%;
    position: relative;
    background-color: white;
    background-image: url(../background.jpg);
    background-position: fixed;
    background-size: 100%;
}

main {
    min-height: calc(100vh - 16em);
    /*note: this padding creates space for the footer*/
    padding: 2em 0 18em 0;
    width: 100%;
}

main:after {
    content: "";
    width: 100%;
    display: table;
    clear: both;
}

.narrow {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

section {
    margin: 3em 0;
    scroll-margin-top: 100px;
}

.spaced {
    margin-top: 8em;
    margin-bottom: 8em;
}

.white {
    background-image: none;
    background-color: white;
}

.white #title a {
    color:rgb(90, 90, 190);
}

.white .spaced {
    margin-top: 3em;
}

/* Wide */

.wide article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 3em;
    padding: 1.5em;
    padding-top: 2.5em;
    margin: 1em 0;
    border-radius: 5px;
    background-color: white;
}

.wide {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.wide article div {
    flex: 2 1 0;
}

.wide article h3, .wide article p, .split p {
    margin-top: 0;
    margin-bottom: 1em;
}

.wide article .left {
    flex: 1 1 0;
    font-family: "Roboto", sans-serif;
}

.spaced.color {
    padding-bottom: .5em;
}

article .left h3, article .left p {
    font-size: 18px;
}

.color {
    padding: 4em 0;
    background-color: rgb(165, 165, 255);
}

/* Header */

#splash {
    height: 98vh;
    top: 0;
    background: url(../yi.png) no-repeat center center fixed;
    background-size: cover;
}

header {
    z-index: 500;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    background-color: black;
    position: sticky;
    top: 0;
    width: 100%;
    height: 3em;
    font-family: "ZCOOL QingKe HuangYou", sans-serif;
}

#title, #title a {
    font-size: 20px;
    letter-spacing: .375rem;
    font-weight: 700;
    margin-left: 0.5em;
    text-decoration: none;
    color: rgb(165, 165, 255);
}

/* Nav */

nav {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    margin-right: 1em;
}

nav a {
    text-decoration: none;
    padding-bottom: 6px;
    letter-spacing: 2px;
    font-weight: 700;
    height: 1rem;
    margin: 0.8em;
    color: white;
    text-transform: uppercase;
}

nav a:hover, nav a:active, nav a:focus {
    color: white !important;
    border-bottom: 3px solid white;
}

.current {
    border-bottom: .3rem solid rgb(90, 90, 190);
}

/* Headings */

h2 {
    font-family: "ZCOOL QingKe HuangYou", sans-serif;
    color: black;
    line-height: 1em;
    letter-spacing: 2px;
    font-weight: 1000;
    font-size: 30px;
    margin-top: 2rem;
    text-transform: uppercase;
}

h3 {
    font-family: "Readex Pro", sans-serif;
    font-size: 24px;
    color: black;
    font-weight: 700;
    margin: 0.5rem 0 1rem 0;
    word-wrap: break-word;
}

/* Links */

a {
    color: rgb(90, 90, 190);
    font-size: 1em;
}

a:hover, a:active, a:focus {
   color: rgb(165, 165, 255) !important;
}

/* Graphs */

#resume {
    padding: 1em 0;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 70vw;
}

#gantt, #network_graph {
    width: min(750px,70vw) !important;
    margin-left: auto;
    margin-right: auto;
}

.bubble {
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 5px;
    color: white;
    background-color: rgb(90, 90, 190);
    border-radius: 5px;
    font-size: 12px;
}

.bubbles {
    display: flex;
    flex-wrap: wrap;
}

/* find the name of the class in the plotly main-svg draglayer */
.cursor-crosshair, .cursor-move {
    cursor: pointer !important;
}

#hover_info {
    line-height: 15px;
}

#hover_info p {
    line-height: 20px;
}

.card {
    border-radius: 0px;
    box-shadow: none;
    padding-bottom: 1em;
}

.card.bslib-card.bslib-mb-spacing.html-fill-item.html-fill-container {
    width: 100%;
}

.card-body h2 {
    margin: 0;
}

.container {
    margin-left: auto;
    margin-right: auto;
}

/* dropdown and buttons */
.selectize-input, .action-button {
    border-radius: 30px;
    border: solid 2px rgb(90,90,190);
    margin: 6px 0;
}

.form-group.shiny-input-container {
    width: 100%;
}

.form-group .control-label {
    margin: 0;
}

/* Images */

.spaced > img {
    max-width: 100%;
}

figure {
    display: block;
    position: relative;
    z-index: 100;
    width: 100%;
    text-align: center;
    margin: 0;
}

figure img, article img {
    display: block;
    position: relative;
    z-index: 100;
    width: 100%;
}

.split img {
    max-width: 20vw;
}

article figure {
    margin: 4em 0;
}

figcaption {
    margin-top: 1em;
    font-size: .75em;
    text-align: left;
}

/* Gallery/deck */

.dark, .dark h2 {
    background-color: black;
    color: white;
}

.column h2 {
    padding: 4em 0;
    margin: 0;
    text-align: center;
}

.column {
    width: 33.333%;
    float: left;
}

.deck {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2em 0;
}

.deck h4 {
    margin: 0.5rem auto;
    text-align: center;
}

.deck img, .column img {
    width: 100%;
    object-fit: cover;
    display: flex;
    flex-direction: row;
}

.deck a {
    text-decoration: none;
}

article .deck img {
    width: 50%;
    margin: 2em 0;
}

.gallery-card img {
    height: 15vw;
}

.gallery-card {
    width: 33.333%;
    margin: 1em 0;
}

.gallery-card a:hover, .gallery-card a:active, .gallery-card a:focus {
    filter: brightness(110%);
    color: black !important;
}

.gallery-card:hover, .gallery-card:active, .gallery-card:focus {
    background-color: rgb(165, 165, 255);
}

.two-column {
    display: flex;
    justify-content: space-between;
}

.two-column a, .two-column div, .two-column img {
    width: 48%;
}

.split {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1em;
    margin-top: 1em;
}

.white main .narrow > h2 {
    margin-top: 3em;
}

/* Skills */

.skills {
    color: rgb(90, 90, 190);
    font-weight: 800;
}

/* Misc */

blockquote {
    text-align: left;
    font-style: italic;
}

button {
    width: 100%;
    padding: 1em;
    font-size: 16px;
    font-family: "Readex Pro", sans-serif;
    background-color:rgb(90, 90, 190);
    color: white;
    border: none;
    cursor: pointer;
}

button:hover, button:active, button:focus {
    opacity: 0.85;
}

.gr_custom_container_1657826294 center {
    display: none;
}

.gr_custom_container_1657826294 a:hover, .gr_custom_container_1657826294 a:active, .gr_custom_container_1657826294 a:focus {
    color: black !important;
    text-decoration: underline !important;
}

.gr_custom_header_1657826294 a {
    margin: 1em 0;
    color: black;
}

.gr_custom_each_container_1657826294 {
    width: 100%;
    clear: both;
    padding: 1.5em 0;
    margin-top: 1em;
    overflow: auto;
    border-radius: 5px;
    background-color: #FFFFFF;
}

.gr_custom_book_container_1657826294 {
    overflow: hidden;
    height: 100%;
    float: left;
    margin: 0 2em;
    padding-top: .3em;
}

.gr_custom_title_1657826294{
    margin-top: 0;
}

.gr_custom_book_container_1657826294 img {
    height: 7.5em;
    width: auto;
}

.gr_custom_review_1657826294 {
    font-style: italic;
    margin: .5em 2em 0 0;
}

.gr_custom_author_1657826294 a {
    text-decoration: none;
    color: black;
}

/* Footer */

footer {
    position: absolute;
    margin: 0;
    bottom: 0;
    width: 100%;
    height: 20em;
    background-color: rgb(0, 0, 0);
    text-align: right;
    z-index: 500;
    display: flex;
    justify-content: space-between;
}

footer div {
    width: 25%;
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    gap: .1em;
    padding: 2em;
}

#social {
    flex-basis: 1;
    flex-direction: row;
    display: flex;
    padding: 0;
}

footer a, footer p, footer h4, footer ul {
    font-family: 'Roboto', sans-serif;
    text-decoration: none !important;
    font-size: 12px;
    text-align: left;
    line-height: 14px;
    margin: .3em;
    color: rgb(165, 165, 255);
}

footer h4 {
    font-family: "ZCOOL QingKe HuangYou", sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2px;
    font-weight: 700;
    text-transform: uppercase;
}

footer a, footer p, footer ul {
    color: white;
}

#social a:active, #social a:hover, #social a:focus, footer a:active, footer a:hover, footer a:focus {
    opacity: 0.7;
}

footer img {
    width: 1.75em !important;
    margin-right: .75em;
}

/* Mobile */

@media only screen and (max-width: 768px) {
    body {
        max-width: 768px;
        font-size: 16px;
    }

    #splash {
        height: 55vh;
        background-size: 140vw;
        background-position: -20vw 0;
    }

    header  {
        height: 4em;
        font-size: 16px;
        justify-content: space-between;
    }

    .wrapper-container {
        background-image: none;
    }
  
    nav {
        display: none;
    }

    main {
        padding-top: 1.5em;
        padding-bottom: 54em;
    }

    .narrow {  
        width: 85%;
    }

    .wide {
        width: 95%;
    }

    .split img {
        max-width: 100%;
    }

    .wide h2 {
        margin-left: .75em;
    }

    article .left {
        line-height: 16px;
    }

    #title a, #title {
        font-size: 20px;
        margin: 0.8em;
    }

    .wide article, .split {
        display: block;
    }

    .column {
        width: 75% !important;
        height: auto;
        margin: 0 auto;
        float: none;
    }

    .gallery-card img {
        height: 40vw;
    }

    .gallery-card {
        width: 50%;
        margin: 1em 0;
    }

    .gr_custom_review_1657826294 {
        display: inline-block;
        margin: 1em 1.5em 0 1.5em;
    }

    .gr_custom_book_container_1657826294, .gr_custom_book_container_1657826294 img {
        height: 3em;
        margin: 0 .75em;
    }
    
    h3, article .left h3, article .left p, h4 {
        font-size: 16px !important;
    }

    h4 {
        line-height: 18px !important;
    }

    footer {
        flex-direction: column;
        height: 54em;
    }

    footer div {
        width: 75%;
    }

    footer p {
        line-height: 16px;
    }

    .mobile-only {
        display: block !important;
        text-align: center;
        margin: 1em 2em;
        color:white;
        text-decoration: none;
        font-weight: 400;
    }

    #resume {
        width: 95vw;
    }

    #experience {
        height: 2000px;
    }
}
