html {
    font-size: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
}

.container {
    min-height: 100%;
    position: relative;
    font-size: 2rem;
    background-color: white;
}

main {
    min-height: calc(100vh - 6em);
    margin-top: 3em;
    padding-bottom: 3em;
}

header {
    z-index: 500;
    display: block;
    position: fixed;
    background-color: black;
    top: 0;
    width: 100%;
    height: 4.8em;
    font-size: 1.25rem;
}

#title {
    position: relative;
    display: inline-block;
    font-size: 2em;
    letter-spacing: .375rem;
    font-family: "Cabin Sketch", sans-serif;
    color: white;
    top: 0;
    height: 2.4em;
    line-height: 2.4em;
    margin: 0 0 0 1em;
}

nav {
    position: relative;
    display: block;
    float: right;
    list-style-type: none;
    font-size: 1.1em;
    text-align: right;
    top: 0;
    right: 2rem;
}

nav a {
    text-decoration: none;
    color: white;
}

nav li {
    display: inline-block;
    padding: 0.5rem 1rem;
}

nav a:hover, nav a:active, nav a:focus {
    border-bottom: .375rem solid rgb(224, 128, 157);
}

.current {
    border-bottom: .375rem solid rgb(238, 64, 116);
}

.row {
    background-color: white;
    width: 100%;
}

.row:after {
    content: "";
    width: 100%;
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 50%;
}

.box {
    display: block;
    position: relative;
    z-index: 100;
    width: 100%;
    text-align: center;
}

.box-link, article h2 {
    display: block;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Cabin Sketch", sans-serif;
    text-decoration: none;
    color: black;
    background-color: rgba(255, 255, 255, 0.75);
    line-height: 1em;
    font-size: 2rem;
    letter-spacing: .2rem;
    padding: 0.75rem 0;
    z-index: 200;
}

.box-link:hover, .box-link:active, .box-link:focus {
    background-color: rgba(255, 255, 255, 1);
}

.box img, .fancy-heading {
    display: block;
    position: relative;
    z-index: 100;
    width: 100%;
}

.banner {
    text-align: center;
    width: 100% !important;
}

article {
    display: block;
    top: 0;
    max-width: 75%;
    margin: 2em auto;
    font-size: 2rem;
}

article .box {
    margin-bottom: 1.5rem;
    width: 50%;
}

article h2 {
    margin: 0;
    background-color: transparent;
}

h3 {
    font-family: "Vollkorn", serif;
    color: black;
    background-color: white;
    font-size: 0.75em;
    font-weight: 700;
    margin: 1rem 0 0 0;
    word-wrap: break-word;
}

p, article li {
    font-family: "Vollkorn", serif;
    color: black;
    background-color: white;
    font-size: 0.5em;
    margin: 0 1rem 2rem 0;
    word-wrap: break-word;
}
 
article li {
     margin: 0.5em;
}

article ul {
    margin: 0.5em 0;
}

article a {
    font-weight: 600;
    color: rgb(238, 64, 116);
    text-decoration: none;
    font-size: 1em;
}

article a:hover, article a:active, article a:focus {
    border-bottom: .125rem solid rgb(238, 64, 116);
}

article img {
    position: relative;
    display: block;
    height: auto;
}

.form {
    display: inline-block;
    max-width: 80%;    
    margin: 1.75em 0;
}

form {
    margin: 0 auto;
    display: inline;
    font-size: 2rem;
    -webkit-appearance: none;
}

input, textarea {
    font-size: 0.5em;
    font-family: "Vollkorn", serif;
    color: black;
    width: 90%;
    padding: 0.5rem;
    margin: 0.5em 0;
    border: .125rem solid rgb(195, 195, 195);
}

input[type=submit] {
    background-color: rgb(240, 162, 186);
    font-size: 0.75em;
    height: 3em;
    width: 94%;
    border: none;
    margin: 0.25em auto;
    padding: 0;
    display: inline-block;
}

.button {
    padding: 1em 2em;
    margin: 1em;
    font-size: 0.75em;
    background-color: rgb(240, 162, 186);
    color: black;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    font-family: "Cabin Sketch", sans-serif;
}

.button:active, .button:hover, .button:focus {
    background-color: rgba(240, 162, 186, 0.65);
    border: none;
}

/*awkward height fix*/
.inverse {
    background-color: rgb(240, 162, 186);
    height: calc(100vh - 6em);
    min-height: 350px;
}

.inverse h3{
    background-color: rgb(240, 162, 186);
    color: white;
}

.inverse .button {
    color: white;
    background-color: black;
}

.inverse .button:active, .inverse .button:hover, .inverse .button:focus {
    background-color: rgba(0, 0, 0, 0.65);
    border: none;
}

#gallery img {
    width: 100%;
    display: block;
}

#gallery .column {
    width: 33.3333333%;
}

footer {
    position: absolute;
    margin: 0;
    bottom: 0;
    width: 100%;
    height: 4.8em;
    line-height: 4.8em;
    background-color: rgb(0, 0, 0);
    font-size: 1.25rem;
    text-align: right;
    z-index: 500;
}

.social-media {
    width: 1.75em !important;
    margin: 1.5em 1.5em 0 0;
    float: right;
}

.social-media:active, .social-media:hover, .social-media:focus {
    opacity: 0.5;
}

@media only screen and (max-width: 700px) {
    body {
        max-width: 700px;
    }
    
    article, .form, form, .box-link {
        font-size: 1.5rem;
        margin: 0.5rem auto;
    }

    header, footer {
        font-size: 0.75rem;
    }
    
    main {
        margin-top: 3.6rem;
        padding-bottom: 3.6rem;
    }

    .column {
        width: 100%;
        height: auto;
    }

    nav {
        display: none;
    }

    /*sad workaround*/
    input[type=submit] {
        width: 100%;
    }
}

/*add menu collapser thing for mobile and other media rules*/
/*add javascript style gallery so images don't take so long to load*/
